.results {
    z-index: 7;
    position: absolute;
    background-color: #FFF;
    border: #bfbfbf 1px;
    border-style: solid;
    border-radius: 3px;
    display: none;
}

.result {
    padding-left: 1%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}

.result.onFocus , .result:hover, .result.selected {
    background-color: rgb(145, 85, 201);;
    color: #FFF;
}